<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="plugin/layui/css/layui.css">
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <header>
        <div class="layui-row subject-color nav-row">
            <div class="main-content nav-menu">
                <div class="layui-row">

                    <div class="layui-col-md7 menu-box">
                        <ul class="menu-ul">
                           <a href="index.html">
                               <li>首页</li>
                           </a>
                            <a href="columntype.html">
                                <li>文章</li>
                            </a>
                            <a href="/login">
                                <li>登录/注册</li>
                            </a>
                        </ul>
                    </div>
                    <div class="layui-col-md3 search-box">
                        <div class="search-input-div">
                            <div class="layui-row">
                                <div class="layui-col-md10 input-box">
                                    <input class="search-input" placeholder="请输入关键字进行搜索">
                                </div>
                                <div class="layui-col-md2 search-btn-box">
                                    <img src="imgs/icon/search.png" height="36" width="36"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="main-content item-box">
        <div class="item-left">

            <div class="zonhe-row layui-row">
                <div class="item-title-row layui-row row-align">
                    <div class="layui-col-md10 row-align font-size2">
                        <div class="left-icon"></div>
                        <span class="font-bold">文章</span>
                    </div>
                </div>
                <div class="zonhe-ul-row layui-row">
                    <ul>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="zonhe-libox layui-row subject-second-color pane-radius">

                                <div class="zonheimg-box-parent2 layui-col-md9">
                                    <div class="zonhe-lititle layui-row layui-elip">
                                        <h3><a href="#">每个强者都会有背后的辛酸挫折每个强者都会有背后的辛酸挫折</a></h3>
                                    </div>
                                    <div class="zonhe-limsg layui-row">
                                        <p>Windows 10将会让搜索和使用信息更加简单，包括本地、网络和互联网搜索功能,直观的用户体验将更
                                            加高级,还会整合自动化应用程序提交和交叉程序数据透明性。 Windows 10
                                            操作系统改进了基于角色的计算方案和用户账户管理,在数据保护和坚固协作的固有冲突之方案和用户账户管理,在数据保护和坚固协作的固有冲间搭建沟通桥梁,同时也会开启企业级的数据保护和权</p>
                                    </div>
                                    <div class="zonhe-param layui-row">
                                        发布时间：2019-01-15<span><a href="#">大BUG</a></span><span><a href="#">查看全文</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="look-more layui-row subject-second-color font-color1 text-align-center pane-radius"><a href="#">查看更多</a></div>
                </div>
            </div>
            <div class="youqing-url layui-row">
                <div class="item-title-row layui-row row-align">
                </div>
            </div>
        </div>
        <div class="item-right">
            <div class="right-one-row layui-row pane-bg-radius">
                <div class="visit-img-box top-radius">
                    <img src="imgs/canreplace/headimgbg.jpg" class="top-radius"/>
                </div>
                <div class="headimg-box">
                    <img src="imgs/canreplace/headimg.jpg"/>
                </div>
                <div class="nickname layui-row row-align text-align-center">
                    大BUG
                    <span><img src="imgs/icon/man.png" height="32"width="32"/></span>
                </div>
                <div class="padding-hr layui-row common-padding-x">
                    <div class="hr-line-div"></div>
                </div>
                <div class="mine-msg layui-row common-padding font-size1 font-color5">
                    <div class="layui-row row-align">
                        <div class="msg-name layui-col-md3">QQ ：</div>
                        <div class="msg-val layui-col-md9">173124552</div>
                    </div>
                    <div class="layui-row row-align">
                        <div class="msg-name layui-col-md3">职业 ：</div>
                        <div class="msg-val layui-col-md9">程序员、软件工程师</div>
                    </div>
                    <div class="layui-row row-align">
                        <div class="msg-name layui-col-md3">现居 ：</div>
                        <div class="msg-val layui-col-md9">四川省-成都市</div>
                    </div>
                    <div class="layui-row row-align">
                        <div class="msg-name layui-col-md3">Email ：</div>
                        <div class="msg-val layui-col-md9">173124552@qq.com</div>
                    </div>
                </div>
                <div class="row-hr layui-row">
                    <div class="row-hr-line-div"></div>
                </div>
                <div class="number-box layui-row common-padding-x bottom-radius text-align-center">
                    <div class="number-col-div layui-col-md3">
                        <div class="layui-row param-number font-bold font-color1 font-size2">3961</div>
                        <div class="layui-row param-name font-color1 font-size1">博文</div>
                    </div>
                    <div class="number-col-div layui-col-md3">
                        <div class="layui-row param-number font-bold font-color1 font-size2"></div>
                        <div class="layui-row param-name font-color1 font-size1"></div>
                    </div>
                    <div class="number-col-div layui-col-md3">
                        <div class="layui-row param-number font-bold font-color1 font-size2"></div>
                        <div class="layui-row param-name font-color1 font-size1"></div>
                    </div>
                    <div class="number-col-div layui-col-md3">
                        <div class="layui-row param-number font-bold font-color1 font-size2">3961</div>
                        <div class="layui-row param-name font-color1 font-size1">评论</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-box">
            <div class="main-content">
                Every programmer will have his own back garden.
            </div>
        </div>
    </footer>
    <script src="plugin/layui/layui.js"></script>
    <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'pageItem', //注意，这里的 test1 是 ID，不用加 # 号
                count: 50, //数据总数，从服务端得到
                jump: function(obj, first){
                    //obj包含了当前分页的所有参数，比如：
                    console.log('当前页数：'+obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    console.log('每页数量：'+obj.limit); //得到每页显示的条数
                    //首次不执行
                    if(!first){
                        console.log('执行')
                    }
                }
            });
        });
    </script>
</body>
</html>