<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#">主页</a>
                    </li>
                    <li>
                        <a href="#">个人中心</a>
                    </li>
                    <p>自动构建，我又来了</p>
                </ul>
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>